.cabecalho {
    justify-content: space-between;
    height: 64px;
    padding: 16px;
    padding-left: 32px;
    background: $cor-primaria;
}

.cabecalho__nome-site {
    height: 100%;
    display: flex;
    align-items: center;
    color: $cor-terciaria;

    a {
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        color: $cor-terciaria;
    }
}