$tela-celular-pequena: '(max-width: 600px)';
$tela-celular: '(max-width: 800px)';
$tela-celular-grande: '(max-width: 900px)';
$tela-tablet: '(max-width: 1114px)';
$tela-computador-pequena: '(max-width: 1280px)';
$tela-computador-media: '(max-width: 1360px)';
$tela-computador-grande: '(max-width: 1920px)';
$tela-computador-gigante: '(max-width: 2440px)';