$cor-primaria: #502d92;
$cor-secundaria: #0e74b8;
$cor-terciaria: #ffc400;

$cor-branca: #fff;
$cor-preta: #000;

$cor-cinza-10: #ececec;
$cor-cinza-20: #c9c9c9;
$cor-cinza-30: #a5a5a5;
$cor-cinza-40: #8f8f8f;
$cor-cinza-50: #707070;
$cor-cinza-60: #4b4b4b;
$cor-cinza-70: #363636;
$cor-cinza-80: #222222;